[Unit]
Description=SpiderOak backup agent
Documentation=https://spideroak.com/faq/how-can-i-use-spideroak-from-the-command-line
Documentation=https://github.com/johnsimcall/spideroak-systemd/blob/master/README.md
After=network.target local-fs.target

[Service]
Type=simple
User=%i
EnvironmentFile=-%h/.SpiderOakrc
ExecStartPre=/bin/echo Loading ARGs from %h/.SpiderOakrc
ExecStartPre=/bin/echo Launching $CMD with ARGs = $ARG
ExecStartPre=/usr/bin/SpiderOakGroups --print-selection
ExecStart=/usr/bin/SpiderOakGroups --headless $ARG

[Install]
WantedBy=multi-user.target
