# Install this file at /etc/systemd/system/SpiderOak@$USER.service

[Unit]
Description=SpiderOak backup service
Documentation=https://raw.githubusercontent.com/hv15/spideroak-systemd/master/README.md
Documentation=https://spideroak.com/faq/how-can-i-use-spideroak-from-the-command-line
After=network.target local-fs.target

[Service]
Type=simple
User=%i
EnvironmentFile=-%h/.SpiderOakrc
ExecStartPre=/bin/echo Loading %h/.SpiderOakrc file
ExecStartPre=/bin/echo Starting SpiderOak with ARGs = $ARG
ExecStart=/bin/SpiderOakGroups --headless $ARG

[Install]
WantedBy=multi-user.target
